@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

.fimanager:before {
    display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.flaticon-001-ten-commandments:before { content: "\f100"; }
.flaticon-002-fish:before { content: "\f101"; }
.flaticon-003-bread:before { content: "\f102"; }
.flaticon-004-angel:before { content: "\f103"; }
.flaticon-005-holy-ghost:before { content: "\f104"; }
.flaticon-006-bible:before { content: "\f105"; }
.flaticon-007-bible:before { content: "\f106"; }
.flaticon-008-jesus:before { content: "\f107"; }
.flaticon-009-communion:before { content: "\f108"; }
.flaticon-010-candle:before { content: "\f109"; }
.flaticon-011-baptism:before { content: "\f10a"; }
.flaticon-012-church:before { content: "\f10b"; }
.flaticon-013-church:before { content: "\f10c"; }
.flaticon-014-cross:before { content: "\f10d"; }
.flaticon-015-cross:before { content: "\f10e"; }
.flaticon-016-cross:before { content: "\f10f"; }
.flaticon-017-cross:before { content: "\f110"; }
.flaticon-018-goblet:before { content: "\f111"; }
.flaticon-019-holy-ghost:before { content: "\f112"; }
.flaticon-020-easter-egg:before { content: "\f113"; }
.flaticon-021-holy-ghost:before { content: "\f114"; }
.flaticon-022-christianity:before { content: "\f115"; }
.flaticon-023-charity:before { content: "\f116"; }
.flaticon-024-golgotha:before { content: "\f117"; }
.flaticon-025-grapes:before { content: "\f118"; }
.flaticon-026-bible:before { content: "\f119"; }
.flaticon-027-gospel:before { content: "\f11a"; }
.flaticon-028-jesus:before { content: "\f11b"; }
.flaticon-029-jesus:before { content: "\f11c"; }
.flaticon-030-lion:before { content: "\f11d"; }
.flaticon-031-christianity:before { content: "\f11e"; }
.flaticon-032-priest:before { content: "\f11f"; }
.flaticon-033-marriage:before { content: "\f120"; }
.flaticon-034-wedding-rings:before { content: "\f121"; }
.flaticon-035-marriage:before { content: "\f122"; }
.flaticon-036-nun:before { content: "\f123"; }
.flaticon-037-praying:before { content: "\f124"; }
.flaticon-038-praying:before { content: "\f125"; }
.flaticon-039-praying:before { content: "\f126"; }
.flaticon-040-praying:before { content: "\f127"; }
.flaticon-041-pulpit:before { content: "\f128"; }
.flaticon-042-pulpit:before { content: "\f129"; }
.flaticon-043-pope:before { content: "\f12a"; }
.flaticon-044-resurrection:before { content: "\f12b"; }
.flaticon-045-scroll:before { content: "\f12c"; }
.flaticon-046-shepherd:before { content: "\f12d"; }
.flaticon-047-holy-ghost:before { content: "\f12e"; }
.flaticon-048-holy-ghost:before { content: "\f12f"; }
.flaticon-049-tree-of-life:before { content: "\f130"; }
.flaticon-050-wine:before { content: "\f131"; }

$font-Flaticon-001-ten-commandments: "\f100";
$font-Flaticon-002-fish: "\f101";
$font-Flaticon-003-bread: "\f102";
$font-Flaticon-004-angel: "\f103";
$font-Flaticon-005-holy-ghost: "\f104";
$font-Flaticon-006-bible: "\f105";
$font-Flaticon-007-bible: "\f106";
$font-Flaticon-008-jesus: "\f107";
$font-Flaticon-009-communion: "\f108";
$font-Flaticon-010-candle: "\f109";
$font-Flaticon-011-baptism: "\f10a";
$font-Flaticon-012-church: "\f10b";
$font-Flaticon-013-church: "\f10c";
$font-Flaticon-014-cross: "\f10d";
$font-Flaticon-015-cross: "\f10e";
$font-Flaticon-016-cross: "\f10f";
$font-Flaticon-017-cross: "\f110";
$font-Flaticon-018-goblet: "\f111";
$font-Flaticon-019-holy-ghost: "\f112";
$font-Flaticon-020-easter-egg: "\f113";
$font-Flaticon-021-holy-ghost: "\f114";
$font-Flaticon-022-christianity: "\f115";
$font-Flaticon-023-charity: "\f116";
$font-Flaticon-024-golgotha: "\f117";
$font-Flaticon-025-grapes: "\f118";
$font-Flaticon-026-bible: "\f119";
$font-Flaticon-027-gospel: "\f11a";
$font-Flaticon-028-jesus: "\f11b";
$font-Flaticon-029-jesus: "\f11c";
$font-Flaticon-030-lion: "\f11d";
$font-Flaticon-031-christianity: "\f11e";
$font-Flaticon-032-priest: "\f11f";
$font-Flaticon-033-marriage: "\f120";
$font-Flaticon-034-wedding-rings: "\f121";
$font-Flaticon-035-marriage: "\f122";
$font-Flaticon-036-nun: "\f123";
$font-Flaticon-037-praying: "\f124";
$font-Flaticon-038-praying: "\f125";
$font-Flaticon-039-praying: "\f126";
$font-Flaticon-040-praying: "\f127";
$font-Flaticon-041-pulpit: "\f128";
$font-Flaticon-042-pulpit: "\f129";
$font-Flaticon-043-pope: "\f12a";
$font-Flaticon-044-resurrection: "\f12b";
$font-Flaticon-045-scroll: "\f12c";
$font-Flaticon-046-shepherd: "\f12d";
$font-Flaticon-047-holy-ghost: "\f12e";
$font-Flaticon-048-holy-ghost: "\f12f";
$font-Flaticon-049-tree-of-life: "\f130";
$font-Flaticon-050-wine: "\f131";