@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {
  font-family: Flaticon;
  font-size: 80px;
  font-style: normal;
  /*margin-left: 20px;*/
}

.flaticon-001-ten-commandments:before { content: "\f100"; }
.flaticon-002-fish:before { content: "\f101"; }
.flaticon-003-bread:before { content: "\f102"; }
.flaticon-004-angel:before { content: "\f103"; }
.flaticon-005-holy-ghost:before { content: "\f104"; }
.flaticon-006-bible:before { content: "\f105"; }
.flaticon-007-bible:before { content: "\f106"; }
.flaticon-008-jesus:before { content: "\f107"; }
.flaticon-009-communion:before { content: "\f108"; }
.flaticon-010-candle:before { content: "\f109"; }
.flaticon-011-baptism:before { content: "\f10a"; }
.flaticon-012-church:before { content: "\f10b"; }
.flaticon-013-church:before { content: "\f10c"; }
.flaticon-014-cross:before { content: "\f10d"; }
.flaticon-015-cross:before { content: "\f10e"; }
.flaticon-016-cross:before { content: "\f10f"; }
.flaticon-017-cross:before { content: "\f110"; }
.flaticon-018-goblet:before { content: "\f111"; }
.flaticon-019-holy-ghost:before { content: "\f112"; }
.flaticon-020-easter-egg:before { content: "\f113"; }
.flaticon-021-holy-ghost:before { content: "\f114"; }
.flaticon-022-christianity:before { content: "\f115"; }
.flaticon-023-charity:before { content: "\f116"; }
.flaticon-024-golgotha:before { content: "\f117"; }
.flaticon-025-grapes:before { content: "\f118"; }
.flaticon-026-bible:before { content: "\f119"; }
.flaticon-027-gospel:before { content: "\f11a"; }
.flaticon-028-jesus:before { content: "\f11b"; }
.flaticon-029-jesus:before { content: "\f11c"; }
.flaticon-030-lion:before { content: "\f11d"; }
.flaticon-031-christianity:before { content: "\f11e"; }
.flaticon-032-priest:before { content: "\f11f"; }
.flaticon-033-marriage:before { content: "\f120"; }
.flaticon-034-wedding-rings:before { content: "\f121"; }
.flaticon-035-marriage:before { content: "\f122"; }
.flaticon-036-nun:before { content: "\f123"; }
.flaticon-037-praying:before { content: "\f124"; }
.flaticon-038-praying:before { content: "\f125"; }
.flaticon-039-praying:before { content: "\f126"; }
.flaticon-040-praying:before { content: "\f127"; }
.flaticon-041-pulpit:before { content: "\f128"; }
.flaticon-042-pulpit:before { content: "\f129"; }
.flaticon-043-pope:before { content: "\f12a"; }
.flaticon-044-resurrection:before { content: "\f12b"; }
.flaticon-045-scroll:before { content: "\f12c"; }
.flaticon-046-shepherd:before { content: "\f12d"; }
.flaticon-047-holy-ghost:before { content: "\f12e"; }
.flaticon-048-holy-ghost:before { content: "\f12f"; }
.flaticon-049-tree-of-life:before { content: "\f130"; }
.flaticon-050-wine:before { content: "\f131"; }