body {
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
    font-weight: 300;
    color: #1B1919;
    line-height: 30px;
    text-align: center;
}

header {
    height: 100px;
    /*margin-top: 50px;*/
}

h1 {
    margin-top: 10px;
    font-size: 2.2rem;
    line-height: 50px;
}

img {
    max-width: 100%;
}

a {
    color: #3D3D3D;
    font-weight: 500;
}

a:hover {
    color: #3D3D3D;
}

::selection {
    color: #FFFFFF;
    background: #666666;
}

/***** Divider *****/

.divider-h {
    line-height: 10px;
}

.divider-h span {
    display: inline-block;
    width: 400px;
    border-bottom: 1px solid #ccc;
}

.divider-v span {
    display: inline-block;
    height: 50px;
    border-left: 1px solid #bbb;
    margin: 0 10px;
}

.underline {
    border-bottom: 2px solid currentColor;
    line-height: 4;
}

/***** Navbar *****/

.navbar {
    background: #2E3B42;
    backface-visibility: hidden;
    font-weight: 500;
    padding: 1.2rem 1rem;
}

.navbar.navbar-no-bg {
    background: #FFFFFF;
}

.navbar-dark .navbar-nav {
    font-size: 15px;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
    color: #000000;
    border: 0;
    font-size: 1.1rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #bfbfbf;
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: #bfbfbf;
    outline: 0;
}

.navbar-expand-md .navbar-nav .nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-dark .navbar-nav .show>.nav-link {
    color: #000000;
}

.navbar-brand {
    width: 250px;
    border: 0;
    padding: 0;
    font-size: 1.2rem;
}

.navbar-nav {
    margin: auto;
}

.navbar-toggler {
    background-color: #666666;
}

.container .nav {
    margin: auto;
    padding: 0;
}

/***** Navbar - dropdown *****/

.dropdown-item {
    text-align: center;
}

.dropdown-menu {
    border-radius: 0;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: 0;
    margin-left: 0;
}

.dropdown-divider { display: none; }

/***** Główna *****/

.top {
    color: white;
    background-color: #292828;
    padding: 5px;
}

.top1 {
    font-family: 'Marcellus SC', sans-serif;
    font-size: 2.6rem;
    padding: 0 10%;
    line-height: 1;
}

.top-element {
    /*min-height: 50px;*/
    /*padding: 10px;*/
    text-align: right;
    font-size: 1.0rem;
}

.top-element a {
    color: #FFFFFF;
    font-weight: 300;
}

.top-element a:hover{
    text-decoration: none;
}

.glowna-content {
    padding: 40px;
    text-align: center;
}

.glowna-section .gray-bg {
    background-color: #F7F7F7;
    background-clip: content-box;
    padding: 0 5px;
}

.glowna-content h1 {
    font-size: 1.6rem;
    line-height: 30px;
}

.glowna-content i {
    padding-top: 30px;
}

.glowna-content p {
    margin: 0;
}

.glowna-content ul {
    list-style-type: square;
    list-style-position: inside;
    padding: 0;
}

.glowna-section .info {
    font-size: 0.9rem;
    padding: 20px;
}

.glowna-section {
    padding: 50px 0;
}

.glowna-section .card {
    border-radius: 0;
}

.top-content .text h1 {
    margin-top: 25px;
    color: rgba(0, 0, 0, 0.7);
}

.parallax {
    /* Set a specific height */
    min-height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/***** Główna - slider *****/

.aktualnosc {
    flex-grow: 1;
    padding: 0 5px;
    justify-content: space-evenly;
}

.aktualnosc h1 {
    font-size: 1.1rem;
    line-height: 30px;
    margin-bottom: 0;
}

.aktualnosc a {
    font-size: 0.8rem;
}

.aktualnosc-section {
    min-height: 550px;
}

.aktualnosc-content {
    margin: 30px 0;
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
}

.news .tekst {
    margin: 0;
    font-size: 1.1rem;
}

.data {
    margin: 0;
    font-size: 0.8rem;
    opacity: 0.8;
}

.data-wpis {
    font-size: 0.8rem;
    opacity: 0.8;
}

.news {
    display: flex;
    /*flex-wrap: wrap;*/
    flex-direction: column;
    padding-left: 0;
}

.slider {
    padding-right: 0;
}

.carousel-inner .carousel-item {
    /*max-height: 420px;*/
}

/***** Główna - kafelki *****/

.tiles {
    padding-bottom: 100%;
    box-shadow: 0 0 1rem gray;
    margin-bottom: 10px;
    background-color: #ffffff;
}

#mszesw {
    background-image: url("../img/glowna/kafelki/msze.png");
    background-position: center;
    background-size: cover;
}

#spowiedz {
    background-image: url("../img/glowna/kafelki/spowiedz.png");
    background-position: center;
    background-size: cover;
}

#kancelaria {
    background-image: url("../img/glowna/kafelki/kancelaria.png");
    background-position: center;
    background-size: cover;
}

#konto {
    background-image: url("../img/glowna/kafelki/konto.png");
    background-position: center;
    background-size: cover;
}

/***** Wolontariat *****/

.wolontariat-section {
    padding: 30px 20px;
}

.wolontariat-section p {
    margin-bottom: 30px;
}

.wolontariat-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
}

/***** Sakramenty *****/

.sakramenty-section {
    text-align: left;
    padding: 30px 20px;
    margin: auto;
}

.sakramenty-section p {
    margin-bottom: 30px;
}

.sakramenty-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: center;
}

.sakramenty-cytat {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #F7F7F7;
    padding: 30px 40px;
}

.sakramenty-cytat p {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

/***** Ewangelizacja *****/

.ewangelizacja-section .left {
    padding-left: 0;
}

.ewangelizacja-section .right {
    padding-right: 0;
}

.ewangelizacja-section .center {
    padding: 0;
}

.ewangelizacja-cytat {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #F7F7F7;
    padding: 30px 40px;
}

.ewangelizacja-cytat p {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.ewangelizacja-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify ;
    margin-bottom: 30px;
}

.ewangelizacja-content h2 {
    text-align: center;
}

.ewangelizacja-section .img {
    background-size: cover;
    margin-bottom: 30px;
}

/***** Wpólnota *****/

.wspolnota-section {
    padding: 30px 20px;
}

.wspolnota-section p {
    margin-bottom: 30px;
}

.wspolnota-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
}

/***** Ogłoszenia *****/

.ogloszenia-section {
    padding: 30px 20px;
}

.ogloszenia-section h1 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.ogloszenia-section p {
    padding: 20px;
    text-align: justify ;
}

.ogloszenia-section .gray {
    background-color: #F7F7F7;
}

/***** Intencje *****/

.intencje-section {
    text-align: left;
    padding: 30px 20px;
    margin: auto;
}

.intencje-section h2 {
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.intencje-section p {
    text-align: justify;
}

/***** Historia *****/

.historia-section {
    text-align: justify;
    padding: 30px 5px;
}

.historia-section-gray-bg {
    background: #f8f8f8;
}

.historia-section .img-right {
    float: right;
    margin-left: 30px;
}

.historia-section .img-left {
    float: left;
    margin-right: 30px;
}

.historia-section .img-center {
    margin: 10px auto;
    display: block;
}

.historia-section p {
    margin-bottom: 5px;
}

/***** Grupy *****/

.grupy-section .nav {
    padding-bottom: 30px;
    border-bottom: 1px solid #666666;
}

.grupy-section .nav-link.active {
    font-weight: bold;
}

.grupy-section .img {
    background-size: cover;
    margin: 30px 0;
}

.grupy-section a {
    font-size: 1.2rem;
    text-align: center;
}

.grupy-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
    margin: 30px 0;
}

.grupy-content h2 {
    text-align: left;
}

/***** Parafia *****/

.parafia-section {
    padding: 30px 20px;
}

.parafia-section p {
    margin-bottom: 30px;
}

.parafia-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
}

/***** Pielgrzymki *****/

.pielgrzymki-section .nav {
    padding-bottom: 30px;
    border-bottom: 1px solid #666666;
}

.pielgrzymki-section .nav-link.active {
    font-weight: bold;
}

.pielgrzymki-section a {
    font-size: 1.2rem;
    text-align: center;
}

.pielgrzymki-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
    margin: 30px 0;
}

/***** Marsz Świętych *****/

.marsz-swietych-section {
    min-height: 600px;
    padding-top: 50px;
}

.marsz-swietych-section a {
    font-size: 1.2rem;
    text-align: center;
}

.marsz-swietych-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
    margin-bottom: 30px;
}

.marsz-swietych-section .img {
    background-size: cover;
    margin-bottom: 30px;
}

/***** Kontakt *****/

.kontakt-section {
    text-align: left;
    padding: 30px 10px;
    margin: auto;
}

.kontakt-section p {
    text-align: center;
}

.kontakt-section i {
    font-size: 3.2rem;
    margin-bottom: 10px;
}

.kontakt-section h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.6;
}

.kontakt-section h3 {
    font-size: 1.3rem;
    text-align: center;
}

.kontakt-section h4 {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 10px;
    margin-bottom: 30px;
}

.kontakt-info {
    padding: 0 15px;
}

.kontakt-info .row {
    padding: 30px 0;
}

.alert {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 1.3rem;
    padding: 20px 0;
}

/***** Adoracja *****/

.adoracja-section {
    text-align: left;
    padding: 30px 20px;
    margin: auto;
}

/*.adoracja-section p {*/
/*    margin-bottom: 30px;*/
/*}*/

.adoracja-content {
    background-color: #F7F7F7;
    padding: 40px;
    text-align: justify;
}

.adoracja-cytat {
    font-size: 1.2rem;
    margin-bottom: 30px;
    text-align: center;
    background-color: #F7F7F7;
    padding: 30px 40px;
}

.adoracja-cytat p {
    margin-bottom: 5px;
    font-size: 1.3rem;
    font-weight: 500;
}

.adoracja-content h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
    margin-top: 0;
}

.adoracja-content .card-body {
    padding: 0.5rem;
    text-align: center;
    font-size: 1.1rem;
}

/***** Admin - zgloszenia *****/

.zgloszenia-section {
    text-align: justify;
    padding: 0 5px;
    margin: 20px auto;
    min-height: 500px;
}

.card-body .galeria {
    text-align: center;
    margin-bottom: 10px;
}

.card-body .galeria a {
    text-transform: uppercase;
}

.zgloszenia-section .list-group-item {
    text-align: left;
}

.zgloszenia-section .card {
    margin-bottom: 10px;
}

.logowanie {
    margin: 80px auto;
    min-height: 550px;
}

.logowanie h1 {
    font-weight: bold;
    margin-bottom: 50px;
}

.logowanie label {
    font-size: 1.5rem;
}

/***** Galeria *****/

.galeria-section {
    min-height: 600px;
    padding: 50px;
}

.galeria-section a {
    margin: 20px;
    text-transform: uppercase;
}

/***** Formularze *****/

.formularze-section {
    text-align: left;
    padding: 30px 0;
    margin: auto;
}

.formularze-section .nav {
    padding-bottom: 30px;
    border-bottom: 1px solid #666666;
}

.formularze-section .nav-link.active {
    font-weight: bold;
}

.formularze-section a {
    font-size: 1.3rem;
    text-align: center;
}

.formularze-section .opis {
    background-color: #F7F7F7;
    margin-top: 20px;
}

.formularze-content {
    padding: 20px 20px;
    text-align: justify;
}

.formularze-content label {
    text-align: left;
    font-size: 1.0rem;
}

.formularze-content h1 {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: left;
}

.formularze-content img {
    width: 80%;
    margin: 30px auto;
    display: block;
}

/***** Footer *****/

footer {
    padding: 40px 0 0 0;
    background: #292828;
    color: #aaa;
    text-align: left;
    min-height: 150px;
}

.footer-center {
    text-align: center;
    font-size: 1rem !important;
}

.footer-center a {
    font-size: 2rem;
    color: #666;
    line-height: 40px;
}