@media (max-width: 1199px) {
    .news { padding-left: 15px; flex-direction: row; }

    .slider { padding-right: 15px; }

    .aktualnosc { padding: 20px; }

    .top .container { width: 100%; }

    .grupy-section .img { display: none; }

    .marsz-swietych-section .img { display: none; }

}

@media (max-width: 991px) {

    .dropdown-menu { border: none; }

    .ewangelizacja-section .right, .ewangelizacja-section .left {
        padding: 0;
    }

    .ewangelizacja-section .img { height: 300px; }
    .grupy-section .col-12 { padding: 0 }
    .dropdown-divider { display: block; }

    .glowna-section .gray-bg { margin-bottom: 10px;}
}

@media (max-width: 767px) {
    .news { padding-left: 15px; flex-direction: column; }

    .historia-section .img-right, .historia-section .img-left {
        margin: 10px auto;
        float: none;
        display: block;
    }

    .divider-h span {
        display: none;
    }

    .card-columns{
        column-count: 2;
    }

    .grupy-contain img { width: 100%; }
}

@media (max-width: 575px) {
    .historia-section {
        padding: 30px 15px;
    }

    .aktualnosc-section {
        margin-top: 80px;
    }

    .card-columns{
        column-count: 1;
    }

}

